body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

#coluna1-home {
    background-color: #212121;
}

#coluna2-home {
    background-color: #760504;
    padding: 0px !important;
}

/* Botão */
#botoes {
    background-color: transparent;
    border: 2px solid #760504;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

#botoes:hover {
    background-color: #760504;
    color: #fff;
}

/* Imagem Responsiva */
#foto {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
#contato{
    width: 100%;
    height: 100%;
    background-color: #000;
    margin: 0px;
}

/* Quebra de layout mobile */
@media (max-width: 768px) {
    #foto {
        max-width: 50%;
    }

    #coluna1-home,
    #coluna2-home {
        text-align: center;
        align-items: center !important;
    }

    #botoes {
        margin-top: 2rem;
    }
}
